<h1>
    {{title}}
</h1>



<div class="example-container">
    <h3>Normal Buttons</h3>
    <div class="button-row">
        <button md-button>Flat button</button>
        <button md-raised-button>Raised button</button>
        <button md-fab><mat-icon>check</mat-icon></button>
        <button md-mini-fab><mat-icon>check</mat-icon></button>
    </div>

    <h3>Link Buttons</h3>
    <div class="example-button-row">
        <a md-button routerLink=".">Flat button</a>
        <a md-raised-button routerLink=".">Raised button</a>
        <a md-fab routerLink=".">
            <mat-icon>check</mat-icon>
        </a>
        <a md-mini-fab routerLink=".">
            <mat-icon>check</mat-icon>
        </a>
    </div>
</div>

<h2>Checkbox Module</h2>